.text-animate{
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 15px;
}

.text-animate-hover
{
    min-width: 15px;
    display:inline-block;
    animation-fill-mode:both;

    &:hover{
        animation: rubberBand 1s;
        background: #00FF00;
        background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    }


//to make letters to appear one by one 
@for $i from 1 through 35{
    .text-animate._#{$i}{
        animation-delay:#{$i / 10}s;
    }
}