.home-page .text-zone{
    position: absolute;
    left: 10%;
    top:50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: white;
    font-size: 53px;
    margin: 0;
    font-weight: 400;
}

h1::before{
    content: '<h1>';
    font-style: italic;
    font-family:' La Belle Aurore',cursive;
    font-size: 18px;
    position: absolute;
    margin-top: -30px;
    left: 55px;
    opacity: 0.5;
}
h1::after{
    content: '</h1>';
    font-style: italic;
    font-family:' La Belle Aurore',cursive;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    opacity: 0.5;
    animation: fadeIn 1s 1.17s backwards;
}
.flat-btn, Link{
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid white;
    margin-top: 25px;
    transition: 0.5s;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    text-transform: uppercase;
}

h2{
    color: white;
}
