.home-page{
    margin-top: 40%;
    left: 5%;
    transform: translateY(-50%);
}

 .text-zone{
        line-height:normal;
        margin-left: 5%;
        margin-top:20%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom:20%;
        max-height: 90%;
        
}
h1{
    color: white;
    font-size: 60px;
    margin: 0;
    padding: 5px;
    font-weight: 400;
    font-family:Times New Roman Georgia Garamond;
    
}


h1::before{
    content: '<h1>';
    font-style: italic;
    font-family:' La Belle Aurore',cursive;
    font-size: 18px;
    position: absolute;
    margin-top: -35px;
    margin-left: -20px;
    left: px;
    
    opacity: 0.5;
}
h1::after{
    content: '</h1>';
    font-style: italic;
    font-family:' La Belle Aurore',cursive;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    opacity: 0.5;
    animation: fadeIn 1s 1.17s backwards;
}
.flat-btn, Link{
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
     letter-spacing: 0.1em;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 15%;
    transition: 0.5s;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    text-transform: uppercase;

    &:hover{
        border: solid green;
        
    }
}

.h2-tag{
    color: white;
    margin-top: 20px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
    
}
  
  

@media screen and (max-width: 800px){
    

    .home-page{
        margin-top: 90%;
        left: 5%;
        transform: translateY(-50%);
    }
    
    .text-zone{
        margin-left: 12%;
        margin-top:40%;
        margin-bottom:25%;
        transform: translateY(-50%);
        width: 75%;
        max-height: 90%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom:50%;
        max-height: 90%;
 
    }

    h1{
        color: white;
        font-size: 40px;
        margin: 0;
        font-weight: 660;
    }
    
    h1::before{
        position: absolute;
        margin-top: -40px;
        left: 5%;
        opacity: 0.5;
    }
    
    h1::after{
        content: '</h1>';
        font-style: italic;
        font-family:' La Belle Aurore',cursive;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        opacity: 0.5;
        animation: fadeIn 1s 1.17s backwards;
    }
    .flat-btn, Link{
            cursor: pointer;
            color: white;
            font-size: 1.5em;
            font-weight: 400;
            letter-spacing: 0.1em;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid white;
            border-radius: 5px;
            margin-top: 15%;
            transition: 0.5s;
            float: left;
            margin-left: 15%;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
            text-transform: uppercase;
            &:hover{
                border: solid green;
                
            }
        
    }
    .h2-tag{
        line-height: normal;
        color: white;
        margin-top: 20px;
        font-size: 18px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8s backwards;
        
    }
    .link{
        font-size: 14px;
        margin-left: 10px;
    }
}
