// .home-page{
    
//     left: 5%;
//     top:45%;
//     transform: translateY(-50%);
//     width: 40%;
//     max-height: 90%;
//     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
// }

 .text-zone{
        margin-left: 5%;
        margin-top:20%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom:25%;
        max-height: 90%;
        
}
h1{
    color: white;
    font-size: 60px;
    margin: 0;
    font-weight: 400;
}


h1::before{
    content: '<h1>';
    font-style: italic;
    font-family:' La Belle Aurore',cursive;
    font-size: 18px;
    position: absolute;
    margin-top: -20px;
    margin-left: -2px;
    left: px;
    opacity: 0.5;
}
h1::after{
    content: '</h1>';
    font-style: italic;
    font-family:' La Belle Aurore',cursive;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    opacity: 0.5;
    animation: fadeIn 1s 1.17s backwards;
}
.flat-btn, Link{
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
     letter-spacing: 0.1em;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 15%;
    transition: 0.5s;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    text-transform: uppercase;

    &:hover{
        border: solid green;
        
    }
}

h2{
    color: white;
    margin-top: 20px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
    
}
  
  

@media screen and (max-width: 800px){
    .text-zone{
        margin-left: 15%;
        margin-top:40%;
        margin-bottom:25%;
        transform: translateY(-50%);
        width: 85%;
        max-height: 90%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom:50%;
        max-height: 90%;
 
    }

    h1{
        color: white;
        font-size: 50px;
        margin: 1;
        font-weight: 660;
    }
    
    h1::before{
        position: absolute;
        margin-top: -40px;
        left: 5%;
        opacity: 0.5;
    }


    .flat-btn, Link{
            cursor: pointer;
            color: white;
            font-size: 1.5em;
            font-weight: 400;
            letter-spacing: 0.1em;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid white;
            border-radius: 5px;
            margin-top: 15%;
            transition: 0.5s;
            float: left;
            margin-left: 15%;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
            text-transform: uppercase;
            &:hover{
                border: solid green;
                
            }
        
    }
    .link{
        font-size: 14px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 600px){


}
